<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.platform.core.persistence.mapper.workflow.ProcessDefinitionMapper">

	<resultMap type="com.github.platform.core.workflow.domain.common.entity.ProcessDefinitionBase" id="BaseResultMap">
		<id column="id" property="id" />
		<id column="process_no" property="processNo" />
		<id column="process_name" property="processName" />
		<id column="process_type" property="processType" />
		<id column="process_desc" property="processDesc" />
		<id column="process_version" property="processVersion" />
		<id column="process_file" property="processFile" />
		<id column="deploy_id" property="deployId" />
		<id column="tenant_id" property="tenantId" />
		<id column="dept_id" property="deptId" />
		<id column="deleted" property="deleted" />
		<id column="status" property="status" />
		<id column="create_time" property="createTime" />
		<id column="update_time" property="updateTime" />
		<id column="update_by" property="updateBy" />
		<id column="create_by" property="createBy" />
		<id column="remark" property="remark" />
    </resultMap>
	
    <sql id="BaseColumnList">
		t.id,
		t.process_no,
		t.process_name,
		t.process_type,
		t.process_desc,
		t.process_version,
		t.process_file,
		t.deploy_id,
		t.tenant_id,
		t.dept_id,
		t.deleted,
		t.status,
		t.create_time,
		t.update_time,
		t.update_by,
		t.create_by ,
		t.remark
    </sql>
	<sql id="noFileColumnList">
		t.id,
		t.process_no,
		t.process_name,
		t.process_type,
		t.process_desc,
		t.process_version,
		t.deploy_id,
		t.tenant_id,
		t.dept_id,
		t.deleted,
		t.status,
		t.create_time,
		t.update_time,
		t.update_by,
		t.create_by,
		t.remark
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.github.platform.core.workflow.domain.common.entity.ProcessDefinitionBase">
		insert into t_flw_process_definition
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="processNo != null and processNo != ''">process_no,</if>
			<if test="processName != null and processName != ''">process_name,</if>
			<if test="processType != null and processType != ''">process_type,</if>
			<if test="processDesc != null and processDesc != ''">process_desc,</if>
			<if test="processVersion != null">process_version,</if>
			<if test="processFile != null">process_file,</if>
			<if test="deployId != null and deployId != ''">deploy_id,</if>
			<if test="tenantId != null">tenant_id,</if>
			<if test="deptId != null">dept_id,</if>
			<if test="deleted != null">deleted,</if>
			<if test="status != null">status,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateTime != null">update_time,</if>
			<if test="updateBy != null">update_by,</if>
			<if test="createBy != null">create_by,</if>
			<if test="remark != null">remark,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="processNo != null and processNo != ''">#{processNo},</if>
			<if test="processName != null and processName != ''">#{processName},</if>
			<if test="processType != null and processType != ''">#{processType},</if>
			<if test="processDesc != null and processDesc != ''">#{processDesc},</if>
			<if test="processVersion != null">#{processVersion},</if>
			<if test="processFile != null">#{processFile},</if>
			<if test="deployId != null and deployId != ''">#{deployId},</if>
			<if test="tenantId != null">#{tenantId},</if>
			<if test="deptId != null">#{deptId},</if>
			<if test="deleted != null">#{deleted},</if>
			<if test="status != null">#{status},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
			<if test="updateBy != null">#{updateBy},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="remark != null">#{remark},</if>
		</trim>
	</insert>

	<update id="updateById" parameterType="com.github.platform.core.workflow.domain.common.entity.ProcessDefinitionBase">
		update t_flw_process_definition
		<set>
			<if test="processNo != null and processNo != ''">process_no = #{processNo},</if>
			<if test="processName != null and processName != ''">process_name = #{processName},</if>
			<if test="processType != null and processType != ''">process_type = #{processType},</if>
			<if test="processDesc != null and processDesc != ''">process_desc = #{processDesc},</if>
			<if test="processVersion != null">process_version = #{processVersion},</if>
			<if test="processFile != null">process_file = #{processFile},</if>
			<if test="deployId != null and deployId != ''">deploy_id = #{deployId},</if>
			<if test="tenantId != null">tenant_id = #{tenantId},</if>
			<if test="deptId != null">dept_id = #{deptId},</if>
			<if test="deleted != null">deleted = #{deleted},</if>
			<if test="status != null">status = #{status},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="updateBy != null">update_by = #{updateBy},</if>
			<if test="createBy != null">create_by = #{createBy},</if>
			<if test="remark != null">remark = #{remark},</if>
		</set>
		where id = #{id}
	</update>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_flw_process_definition t where t.id=#{id}
	</select>
	<select id="findByIds" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_flw_process_definition t
		<where>
			<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
				#{id}
			</foreach>
		</where>
		limit 200
	</select>
	<select id="findPageBy" resultMap="BaseResultMap" parameterType="com.github.platform.core.workflow.domain.common.entity.ProcessDefinitionBase">
		select <include refid="noFileColumnList" /> from t_flw_process_definition t where t.status !=2
		<if test="processNo != null and processNo != ''">and t.process_no = #{processNo}</if>
		<if test="processName != null and processName != ''">and t.process_name like concat('%', #{processName}, '%')</if>
		<if test="processType != null and processType != ''">and t.process_type = #{processType}</if>
		<if test="deployId != null">and t.deploy_id = #{deployId}</if>
		<if test="tenantId != null">and t.tenant_id = #{tenantId}</if>
		<if test="deleted != null">and t.deleted = #{deleted}</if>
		<if test="status != null">and t.status = #{status}</if>
		<if test="updateBy != null">and t.update_by = #{updateBy}</if>
		<if test="createBy != null">and t.create_by = #{createBy}</if>
		<if test="searchStartTime != null">and t.create_time <![CDATA[>=]]> #{searchStartTime}</if>
		<if test="searchEndTime != null">and t.create_time <![CDATA[<=]]> #{searchEndTime}</if>
		group by t.process_no order by t.process_no
	</select>

	<select id="findListBy" resultMap="BaseResultMap" parameterType="com.github.platform.core.workflow.domain.common.entity.ProcessDefinitionBase">
		select <include refid="BaseColumnList" /> from t_flw_process_definition t
		<where>
			<if test="id != null">and t.id = #{id}</if>
			<if test="processNo != null and processNo != ''">and t.process_no = #{processNo}</if>
			<if test="processName != null and processName != ''">and t.process_name like concat('%', #{processName}, '%')</if>
			<if test="processType != null and processType != ''">and t.process_type = #{processType}</if>
			<if test="processDesc != null and processDesc != ''">and t.process_desc = #{processDesc}</if>
			<if test="processVersion != null">and t.process_version = #{processVersion}</if>
			<if test="deployId != null and deployId != ''">and t.deploy_id = #{deployId}</if>
			<if test="tenantId != null">and t.tenant_id = #{tenantId}</if>
			<if test="deptId != null">and t.dept_id = #{deptId}</if>
			<if test="deleted != null">and t.deleted = #{deleted}</if>
			<if test="status != null">and t.status = #{status}</if>
			<if test="updateBy != null">and t.update_by = #{updateBy}</if>
			<if test="createBy != null">and t.create_by = #{createBy}</if>
			<if test="searchStartTime != null">and t.create_time <![CDATA[>=]]> #{searchStartTime}</if>
			<if test="searchEndTime != null">and t.create_time <![CDATA[<=]]> #{searchEndTime}</if>
		</where>
		order by id desc
	</select>

	<select id="findListByCount" resultType="java.lang.Long" parameterType="com.github.platform.core.workflow.domain.common.entity.ProcessDefinitionBase">
		select count(t.id) from t_flw_process_definition t
		<where>
			<if test="id != null">and t.id = #{id}</if>
			<if test="processNo != null and processNo != ''">and t.process_no = #{processNo}</if>
			<if test="processName != null and processName != ''">and t.process_name like concat('%', #{processName}, '%')</if>
			<if test="processType != null and processType != ''">and t.process_type = #{processType}</if>
			<if test="processDesc != null and processDesc != ''">and t.process_desc = #{processDesc}</if>
			<if test="processVersion != null">and t.process_version = #{processVersion}</if>
			<if test="deployId != null and deployId != ''">and t.deploy_id = #{deployId}</if>
			<if test="tenantId != null">and t.tenant_id = #{tenantId}</if>
			<if test="deptId != null">and t.dept_id = #{deptId}</if>
			<if test="deleted != null">and t.deleted = #{deleted}</if>
			<if test="status != null">and t.status = #{status}</if>
			<if test="createTime != null">and t.create_time = #{createTime}</if>
			<if test="updateTime != null">and t.update_time = #{updateTime}</if>
			<if test="updateBy != null">and t.update_by = #{updateBy}</if>
			<if test="createBy != null">and t.create_by = #{createBy}</if>
			<if test="remark != null">and t.remark = #{remark}</if>
		</where>
	</select>

	<delete id="deleteById" parameterType="java.lang.Long">
		delete from t_flw_process_definition where id = #{id}
	</delete>
	<delete id="deleteByIds" parameterType="java.lang.Long">
		<!--没有传入数据抛异常，不会全删-->
		<if test="ids != null and ids.length>0">
			delete from t_flw_process_definition
			<where>
				<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
					#{id}
				</foreach>
			</where>
		</if>
	</delete>
</mapper>